jupyter==1.0.0
decorator==4.3.0
ipython-genutils==0.2.0
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
MarkupSafe==1.0
nbformat==4.4.0
nltk==3.3
ptyprocess==0.6.0
Send2Trash==1.5.0
six==1.11.0
terminado==0.8.1
tornado==5.1.1
traitlets==4.3.2
numpy==1.15.2
